body {
  font-family: Arial, sans-serif;
  background-color: #0d0c0c13;
  padding: 20px;
  text-align: center;
}

.episode-card {
  
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.739);
  border-radius: 10px;
  padding: 16px;
  margin: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-width: 280px;
  transition: transform 0.2s ease;
  cursor: pointer;
  
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.episode-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#root {
  color: rgb(17, 16, 16);
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 15px;
}

#search-input,
#episode-selector,
#show-selector,
#show-search-input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Optional: On focus, give a highlight */
#search-input:focus,
#episode-selector:focus,
#show-selector:focus,
#show-search-input:focus  {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


body > select,
body > input,
body > #episode-selector,
body > #episode-count, 
body > #show-count  {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


@media (max-width: 768px) {
  body > select,
  body > input,
  body > #episode-selector {
    display: block;
    margin: 10px auto;
  }

  .episode-card{
    max-width: 90%;
    min-width: auto;
  }
}
